.blog_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px; }
  .blog_item:nth-child(odd) {
    flex-direction: row-reverse; }
  .blog_item:last-child {
    margin-bottom: 250px; }

.blog_item_image {
  box-shadow: 0 0 10px 5px black; }
  .blog_item_image:hover {
    box-shadow: 0 0 15px 10px black;
    transition: all 0.2s ease-in; }

.blog_item_info {
  width: 450px; }

.blog_item_header {
  color: #000000;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  letter-spacing: 0.33px;
  margin-bottom: 25px; }

.blog_item_description {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.06px;
  margin-bottom: 50px; }

.blog_item_readmore {
  display: inline-block;
  height: 52px;
  border: 1px solid #e5e5e5;
  padding: 16px 30px 0;
  line-height: 1;
  color: #000000;
  font-size: 16px;
  font-weight: 7 00;
  letter-spacing: 0.06px;
  text-decoration: none;
  transition: all 0.2s ease-in; }
  .blog_item_readmore:hover {
    text-decoration: none;
    background-color: #000;
    color: white; }
