.mountains {
  display: flex;
  justify-content: space-between;
  margin-bottom: 255px; }

.mountain {
  text-align: center; }

.mountain_photo {
  margin-bottom: 15px;
  box-shadow: 0 0 10px 5px black; }
  .mountain_photo:hover {
    box-shadow: 0 0 15px 10px black;
    transition: all 0.2s ease-in; }

.mountain_name {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-family: 400;
  letter-spacing: 0.28px;
  margin-bottom: 10px; }

.mountain_height {
  color: #2ab738;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.14px; }
