
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: url(images/back.png);
	background-repeat: repeat;
	font: 12px/1.67 Arial, Helvetica, sans-serif;
	padding: 40px 0;
}